* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #B0DAFF;
}

#wrapper {
    width:calc(100% - 40px);
    padding:20px;
}

header {
    height: 60px;
    background-color: #146C94;
    font-size: 2em;
    font-weight: 600;
    text-transform: lowercase;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 10px 10px 0px 0px;
}

.profile {
    display: flex;
    background-color: #fff;
    height: 120px;
    padding: 12px;
    border-radius: 0px 0px 10px 10px;
    font-size: 0.8em;
    width: calc(100% - 24px);
    align-items: center;
}

.avatar {
    display: flex;
    float: left;
    margin-right:12px;
    height:120px;
    align-items: center;
}

.avatar > img {
    width: 110px;
    height: 110px;
    border: 3px solid #1a1a1a;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "real-name ."
    "username location"
    "bio followers"
    "bio following"
    "bio .";

    height: 84px;
}

.real-name {
    grid-area: real-name;
    font-weight: 600;
}

.username {
    grid-area: username;
    color: #000;
    opacity: .5;
    font-weight: 600;
}

.bio {
    grid-area: bio;
    color: #000;
    overflow-wrap: break-word;
    opacity: .7;
    overflow: scroll;
    font-size: 0.7em;
}

.location { grid-area: location; }

.followers { grid-area: followers; }

.following { grid-area: following; }

.posts {
    width: 100%;
}

.post {
    display: flex;
    width: calc(100% - 24px);
    height: 64px;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
    font-size: 0.6em;
    margin-top:12px;
}

.post img {
    width:64px;
    height: 64px;
    margin-right:12px;
}

.post .real-name {
    font-size: 1.4em;
}

.post .username {
    font-size: 1.2em;
}

.post p {
    margin-top: 6px;
}